/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 35px; /* Ajusta el tamaño del icono según sea necesario */
    margin-left: 10px; /* Ajusta la posición del icono según sea necesario */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px; /* Ajusta el ancho del tooltip según sea necesario */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Ajusta la posición vertical del tooltip */
    left: 50%;
    margin-left: -100px; /* Usa la mitad del ancho del tooltip para centrar */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px; /* Ajusta el tamaño del texto según sea necesario */
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* Bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when hovering */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  