#divModalNombre{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

.modal {
    position: fixed;
    margin:0;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    z-index: 5;
}

.modal-modulo-test {
    position: fixed;
    margin:0;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    z-index: 5;
}

.absolute_right_top {
    background-color: #ddd;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-body {
    background-color: rgba(255, 253, 253, 0.9);
    width:70%;
    margin: auto;
    min-height:50%;
    border-radius:15px;
    padding:2rem;
    position: relative;
    height: 65%;
    overflow-y: auto;

}

.modal-panel-usuario{
    background-color: rgba(255, 253, 253, 0.9);
    width:50%;
    margin: auto;
    min-height:50%;
    border-radius:15px;
    padding:2rem;
    position: relative;
    height: 65%;
    overflow-y: auto;
}

.modal-body-modulos {
  background-color: rgba(255, 253, 253, 0.9);
  width:85%;
  margin: 100px auto;
  min-height:50%;
  border-radius:15px;
  padding:2rem;
  position: relative;
  height: 80%;
  overflow-y: auto;
  z-index: 6;
}

.button-modal-continue {
    background-color: #07124B;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 32%;
    height: 50px;
    margin-top: 20px;
    margin-left: 5px;
}

.button-modal-repeat {
    background-color: white;
    color: #07124B;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 32%;
    height: 50px;
    margin-top: 20px;
    margin-right: 5px;
}

.basandonos h2{
    margin: 8px 10px;
    background-color: #07124B;
    border: 2px solid #07124B;
    border-radius: 15px 15px 0 0;
  }

  .modal-phase-name {
    font-size: 24px;
    font-weight: bold;
    line-height: 90%;
    color: #07124B;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  .modal-phase-h2{
    font-size: 24px;
    font-weight: bold;
    line-height: 90%;
    color: #07124B;
    padding: 2rem 0;
    border-bottom: 3px dashed #07124B;
    width: 100%;
    text-align: center;
  }

  .modal-phase-primero h2{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    height: 100%;
    color: #ffffff;
  }

  .modal-description{
    font-size: 20px;
    color: #5B5B5B;
    width: 100%;
    text-align: center;
  }
  

  /*Modal SaberMas*/

  .modalSaber{
    margin-top:65px;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
  }

.modalSaber-body {
    background-color: rgba(255, 253, 253, 0.795);
    width:90%;
    margin: auto;
    min-height:50%;
    border-radius:15px;
    padding:2rem;
    position: relative;
    height: 90%;
    overflow-y: auto;
  }
.modalSaber-header {
    border-radius:15px;
    position: relative;
    overflow-y: auto;
    text-align: justify;
    border-bottom: 6px dashed rgb(250, 235, 98)

}
    .modalSaber-objetivo {
    margin: 1rem 0;
    width: 100%;
  }
  .objetivo{
    font-size: 16px;
    color: #5B5B5B;
    width: 100%;
    height: 100px;
    text-align: justify;
  }
  .modalSaber-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

.modalSaber-desarrollo {
    width: 60%;
  }
  .desarrolloTitulo{
    font-size: 20px;
    color: #ffffff;
    background-color: #f3a813;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height:100%;
    text-align: center;
  }
  .desarrolloContent{
    font-size: 16px;
    color: #5B5B5B;
    width: 90%;
    height: 180px;
    text-align: justify;
  }

  .modalSaber-izquierda {
    width: 20%;
    height: 10%;
    display:flex;
    justify-content: center ;
    align-items: center;
    gap: 20px;
    flex-direction: column;

  }
  .modalSaber-duracion {
    width: 100%;
    height: 150px;
    padding: 20px 0;
    display:flex;
    justify-content: center ;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  .duracionTitulo{
    font-size: 20px;
    color: #ffffff;
    background-color: #f3a813;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height:100%;
    text-align: center;
  }
  .duracionContent{
    font-size: 16px;
    color: #5B5B5B;
    width: 100%;
    height: 10px;
    text-align: justify;
  }
.duracionContent{
    font-size: 16px;
    color: #5B5B5B;
    width: 90%;
    height: 200px;
    text-align: justify;
}

.buttonSaberMas {
    background-color: #07124B;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    margin-top: 0;
}

/* @media screen and (max-width: 720px) {
    .modal-body {
        width: 65%;
    }
} */
