.packCompleto {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 1800px;
    min-height: 500px;
    height: fit-content;

}

.pack-card-header {
    border-bottom: 1px solid;
    margin-bottom: 20px;
    display: flex;
    border-bottom-style: dashed;
    border-bottom-color: #0056b3;
    align-items: center;
    justify-content: space-between;

}

.photo-pack {
    max-width: 100px;
    height: auto;
}


.card-body {
    display: flex;
    gap: 50px;
    margin-top: 30px;

}

.pack-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 10px 10px 10px;
    gap: 20px;
    width: 50%;
    min-width: 400px;
}

.pack-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.pack-subtitle {
    font-size: 16px;
    color: #777;
}

.pack-card-body p {
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #555;
    line-height: 1.5;
    text-align: left;
    width: 100%;

}

.contratar {
    background-color: #001f3f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    min-width: auto;
    min-height: auto;
    padding: 10px;
    margin-top: 50px;
    height: 40px;
}

.card-includes {
    border-radius: 17px;
    border-left: 2px solid #e0e0e0;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.pack-includes {
    width: 50%;
    height: 100%;
}

.definition {
    text-align: justify;
    justify-content: center;
    width: 70%;
    display: flex;
}

.packIncluye {
    display: flex;
    color: #001f3f;
    font-weight: bold;
    font-size: 20px;
    ;
}

.pack2Completo {
    width: 90px;
    height: 90px;
    background-image: url(../../../public/packs/pack2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
