.scroll-button {
    height: 40px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-size: 16px;
    font-family: sans-serif;
    color: #050E3C;
    cursor: pointer;
    position: relative;
    bottom: 150px;
    left: 0;
    top: 0;
  }