.formacion{
    width: 100%;
    height: 100%;
    gap: 2rem;
}


.formacionImagen {
    width: 80%;
    height: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}
.logosFormacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Para centrar el título */
    margin: 0 auto; /* Para centrar el contenedor */
  }

.frase {
    height: 500px;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fraseTitle {
    width: 100%;
    font-size: 25px;
    text-align: center;
    color: gray;
   

}