/* Estilos para el contenedor principal */
.FcomienzoContainer {
    height: 800px;
    Clip-path: inset(0px 0px 100px 0px);
    width: 100%;
    background-image: url('./formacion/inicio.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; /* No repetir la imagen */
    margin-top: 80px;
    

}

/* Estilos para el contenedor de texto */
.Fcomienzotexto {
    max-width: 500px;
    height: 500px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 100px;
    color: black;
    
}

.Fcomienzotexto h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: justify; 
    margin:300px 0 0 0;
    color: black;
  
}

.Fcomienzotexto h3 {
    font-size: 25px;
    font-weight: normal;
    margin: 0;
    text-align: justify;


}

.FcomienzoButton {
    background-color: #001f3f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 27px;
    font-weight: bold;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
}

