html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
}

.footer {
  background-color: #050E3C;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Changed to space-between */
  align-items: center;
}

.footer-left,
.footer-middle,
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left {
  align-items: flex-start;
  margin-left: 20px;
}

.footer-middle {
  flex-grow: 1;
  align-items: center;
}

.footer-right {
  align-items: flex-end;
  margin-right: 20px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: 50px;
  gap: 10px;
}

.icon-link {
  color: #fff;
  transition: transform 0.3s;
}

.icon-link:hover {
  transform: scale(1.1);
  color: #fff;
}

.footer-icon {
  height: 30px;
  width: auto;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-logo img {
  width: auto;
  height: 200px;
  margin-bottom: -30px;
  margin-top: -70px;
  margin-left: -145px;
}

.footer-text {
  font-size: 0.8rem;
  margin-top: 10px;
}

.policy-text {
  display: flex;
  align-items: flex-start; /* Aligned to flex-start */
  gap: 5px;
  font-size: 12px;
  margin-left: 10px;
}

.policy-text p {
  margin: 0 10px;
}

.policy-text a {
  color: #fff;
  text-decoration: underline;
}

.policy-text a:hover {
  color: #fff;
}

.contact-text {
  display: flex;
  flex-direction: column; /* Changed to column */
  align-items: flex-start; /* Aligned to flex-end */
  gap: 5px;
  font-size: 14px;
}

.contact-text p {
  margin: 0 0 8px;
  display: flex;
  align-items: center;
}

.heading {
  font-size: 16px;
  font-weight: bold;
}

.contact-icon {
  margin-right: 5px;
  height: 22px;
  width: auto;
}

.enisa-png  {
  height: 100px;
  width: auto;
  display: flex;
  justify-content: center;
  margin-right: -200px;
  margin-left: 100px;
}


@media screen and (max-width: 1334px) {
  .footer-left, .footer-right, .footer-right {
    align-items: flex-start;
  }

  .footer-logo img {
    width: auto;
    height: 120px;
    margin-bottom: -30px;
    margin-top: -70px;
    margin-left: -80px;
  }

  .policy-text{
    font-size: 8px;
    margin: 0;
    display: flex;
  }
}