.realizarTestContainer {
    margin-bottom: 100px;
}

.realizarText {
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: medium;
    color: black;


}

