/* contacto.css */

/* Anulando text-align: center; en #root */
#root {
    text-align: left !important; /* Sobrescribe el text-align de #root */
}

body{
    /* Estilo de la imagen de fondo */
    background-image: url('../../../public/llamada.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita repetir la imagen */
}

.main-contacto {
    display: flex;
    width: 35%;
    align-items: flex-start;
    margin-left: 0; /* Asegura que no haya margen izquierdo */
    padding-left: 15%; /* Asegura que no haya relleno izquierdo */
    position: absolute;
    left: 0;
    top: 143px; /* Ajusta este valor según la posición vertical deseada */
    width: 35%;
    color:#091864;
}
/* Estilo general para el contenedor principal */
.contacto-container { 
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    padding: 20px; /* Espaciado interior */
}

/* Estilo para el encabezado "Contáctanos" */
.contactanos {
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilo para las secciones de contacto y redes sociales */
.contactos, .redes-sociales {
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilo para los encabezados de las secciones */
.contactos h2, .redes-sociales h2 {
    margin-bottom: 10px; /* Espacio inferior */
}

/* Estilo para los enlaces de redes sociales */
.redes-sociales a {
/* Color de texto para los enlaces */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Mostrar como bloques */
    margin-bottom: 5px; /* Espacio inferior entre enlaces */
}

/* Estilos adicionales según sea necesario */