.herramientasFContainer {
    width: 100%;
    height: 245px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .herramientaFContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1550px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 20px;

  }
  
  .herramientaF {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 240px;
  }
  
  .imgherramientaF {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .imgherramientaF img {
    width: auto;
    height: auto;
  }
  
  .herramientaFText {
    text-align: center;
    font-size: 1em;
    color: #333;
    width: 187px;
    height: 120px;
  }
  


.formacionHerramientas {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Para centrar el título */
  margin: 0 auto; /* Para centrar el contenedor */
}

.formacionHerramientasTitle {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin: 50px;  
}